@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");

.App {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadded;
  border-radius: 10px;
  background-image: url("https://image.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg");
}
