form {
  margin-bottom: 15px;
}
.btn-primary {
  color: black;
  background-color: white;
  border: none;
}

.btn-success {
  color: black;
  background-color: white;
  border: none;
}

.btn-success:hover {
  cursor: pointer;
  background-color: blue;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #ec6e4c;
}
