.weather-description {
  margin-bottom: 15px;
}
.temperature img {
  float: left;
  margin-right: 15px;
  height: 70px;
  width: 70px;
}
.temperature strong {
  font-size: 50px;
  font-weight: 100px;
  margin-right: 10px;
}

.temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.units {
  position: relative;
  font-size: 18px;
  top: -20px;
}
.link {
  color: white;
}
ul {
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
li {
  list-style: none;
  font-size: 14px;
  font-weight: lighter;
}
.header h1 {
  font-size: 40px;
  font-weight: 400px;
  font-size: x-large;
  margin-left: 5px;
}

.header ul {
  margin-left: 5px;
  padding: 0;
}

.weather li:first-letter {
  text-transform: capitalize;
}
.weather li {
  list-style: none;
  font-size: 14px;
  font-weight: lighter;
}
